UGDS2025/.vs
UGDS2025/*.csproj
UGDS2025/Library
UGDS2025/Temp/
UGDS2025/Library/
UGDS2025/Build/
UGDS2025/Build/*.apk
UGDS2025/obj/
UGDS2025/*.unitypackage
UGDS2025/*.sln
UGDS2025/UnityPackageManager
UGDS2025/*.collabignore
UGDS2025/AssetBundles/
UGDS2025/Logs
UGDS2025/UserSettings
UGDS2025/shadercompiler-UnityShaderCompiler.exe
UGDS2025/EXE
UGDS2025/Assets/Mirror
*.zip
